/* hidden Elements by default that will be toggled using java script */
.Docker-item,.dialog
{
    display: none;
}
/* -------- hidden & Showen elements on small screen sizes --------------- */
@media (max-width:767px)
{
   
}
.back-shadowo
{
    box-shadow: 2px 2px 12px -3px #fff !important;
    padding: .4rem .8rem;
    cursor: pointer;
    background: orangered !important;
}
.catedTitles
{
    --max-lines: 1;

    font-weight: 500;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
}
.back-shadowo:hover
{
    box-shadow: 2px 2px 12px -3px #fff !important;
    box-shadow: inset 2px 2px 12px  #000 !important;
}
.tabtn
{
    font-style: initial;
    font-size: 13px;
    outline: 0;
    cursor: pointer;
    border-radius: 14px;
    border: solid .6px #ffff;
    padding: .5erm .8rem;
}
.main-section{
    height: 80vh;
    display: flex;
    align-items: center;
}
.main-section .docker-1
{
    height: 100%;
    width: 18%;
}
.main-section .docker-2
{
    height: 100%;
    width: 80%;
    
}
/* ////////////////////////////// */
input[type='color']
{
    border: 0;
    outline: 0;
    width: 1.2rem;
    height: 1.2rem;
    padding: 0;
}
.main-section .docker-1 .D1P1
{
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-direction: column;
   text-align: center;
}
.main-section .docker-1 .D1P1 .profile_side
{
   margin: 1rem 0;
   text-align: center;
}
.main-section .docker-1 .D1P1 .profile_side h4
{
   margin-bottom: 1rem;
}
.main-section .docker-1 .D1P1 .profile_side .img
{
    border-radius: 50%;
    height: 4.4rem;
    width: 4.4rem;
    margin-bottom: .5rem;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 3px red;
}
.main-section .docker-1 .D1P1 .profile_side .User_img
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}
.main-section .docker-1 .D1P1 .profile_side .img:hover .switch-img
{
   opacity: 1;
}
.switch-img
{
    color: red;
    opacity: 0;
   transition: .3s linear;
   padding: .4rem;
   font-size: 23px;
   border-radius: 50%;
}


.main-section .docker-1 .D1P1 .dash_links
{
    margin: 1rem auto;
}
.main-section .docker-1 .D1P1 .dash_links::-webkit-scrollbar{display: none;}
.main-section .docker-1 .D1P1 .dash_links .dash_link
{
    display: flex;
    align-items: center;
    line-height: 30px;
    border: solid 1px #fff;
    margin: .5rem 0;
    padding: .3rem .6rem;
    border-radius: 12px;
    cursor: pointer;
}
.main-section .docker-1 .D1P1 .dash_links .active_dash
{
    background: #700909;
    color: #fff;
}
.main-section .docker-1 .D1P1 .dash_links .dash_link:hover{background: #700909;color: #ffff;}
.main-section .docker-1 .D1P1 .lights
{
    /* margin-top: 30%; */
}
.moods
{
    border: solid .7px #fff;
    padding: .3rem .6rem;
    border-radius: 9px;
}


.main-section .docker-2 .Cards_holder
{
   height: 100%;
   width: 100%;
   flex-wrap: wrap;
   display: flex;
   align-items: center;
}
.main-section .docker-2 .Cards_holder .Card-item
{
    border: solid 1px #fff;
    height: 15rem;
    width: 18rem;
    position:relative;
    margin:1rem;
    border-radius: 9px;
    flex-grow: 1;
    overflow: hidden;
}
.main-section .docker-2 .Cards_holder .Card-item .Card-title
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin:.5rem auto;
}
.main-section .docker-2 .Cards_holder .Card-item .Card-footer
{
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: absolute;
    bottom: .4rem;
    left: 5%;
    width: 90%;
}
.main-section .docker-2 .Cards_holder .Card-item  .footer-center,
.main-section .docker-2 .Cards_holder .Card-item  .Only-title
{
     margin-left: 50%;
    -webkit-translate: -50% 0;
    translate: -50% 0;
    white-space: nowrap;

}
.main-section .docker-2 .Cards_holder .Card-item .Card-footer .footer-center
{
    padding: 10px 20px;
    white-space: nowrap;
    background: orangered !important;
    color: #000 !important;
    box-shadow: 2px 2px 12px -3px #fff !important;
    box-shadow: inset 2px 2px 12px  #000 !important;
    border-radius: 30px;
    cursor: pointer;
}
.main-section .docker-2 .Cards_holder .Card-item .Card_soul
{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}


/* /////////////////////// */
.Days
{
    text-align: center;
    padding: .4rem;
    border: solid 1px #fff;
    margin: 0 .5rem;
    border-radius: 8px;
}
.Days:nth-child(2){background: rgb(255, 145, 0);color: #000;}
.full-report .Card-footer
{
    height: 40px;
    width: 100%;
    border-radius: 30px;

    background: orangered !important;
    color: #000 !important;
    box-shadow: 2px 2px 12px -3px #fff !important;
    box-shadow: inset 2px 2px 12px  #000 !important;
    border-radius: 30px;
    cursor: pointer;
}
.full-report .Card-footer a{translate: 1rem 0;}
.full-report .Card-footer i{translate:-1rem 0;}
.website-traffic .Card-footer
{
   flex-direction: column;
}
.website-traffic .Card-footer .percent
{
   margin-left: 7rem;
}
.website-traffic .Card_soul
{
    background: rgba(136, 91, 6, 0.562);
}
.Rounce-rate .Card_soul
{
    background: #bc3908;
}

.Card_soul img,.Cover_soul img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: .2;
}
.Cover_soul img{opacity: 1;}
.ROI .percent
{
    position: absolute;
    left: 50%;
    top: 30%;
}


/* ------------ the section modal styling ------------ */
/* .section-model,.modal{display: none;} */
.close-modal
{
  position: absolute;
  top: .3rem;
  right: .3rem;
}
.dialog
{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter:  blur(30px);
    display: none;
    z-index: 2;
}
.dialog form
{
    border: solid 2px #fff;
    background: transparent;
    height:20rem;
    width:20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 16px;
    position: relative;
}
.dialog form input:hover{
    border: solid 2px orangered;
}
.dialog form input
{
    height: 40px;
    width: 80%;
    border:solid 1px orange;
    outline: 0;
    margin-bottom: .2rem;
    border-radius: 30px;
    padding: 0 20px;
}
.dialog form input[type="button"]{
    gap: red;
    cursor: pointer;
}


/* ------------------- Saved Cards Docker Countainer ----------------- */
#SavedDocker
{
   height: 100%;
}
.SavedElements
{
    padding: 1rem;
    gap: .8rem;
    flex-wrap: wrap;
    align-items: center;
    overflow:hidden scroll;
}
.SavedElements::-webkit-scrollbar
{
    width: 6px;
    background: transparent;
    border-radius: 20px;
}
.SavedElements::-webkit-scrollbar-thumb
{
    width: 6px;
    background: orangered;
    border-radius: 20px;
}
.SavedElements .SavedCard
{
    position: relative;
    height: 10rem;
    width: 7rem;
    transition: .3s ease;
    min-width:7rem;
}

.SavedElements .SavedCard:hover{scale: 1.1;}
.SavedElements .SavedCard .rate
{
    position: absolute;
    left: 0;
    top: 0;
    height: 23px;
    width: 23px;
    border-radius: 50%;
    background: orange;
    color: #000;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.SavedElements .SavedCard img
{
    height: 90%;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 0 12px -4px yellow;
}
.SavedElements .SavedCard h4
{
    --max-lines: 1;

    font-weight: 500;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
}







summary{display: none;}::marker{background-color: orangered;}
@media(max-width:745px)
{
    summary{display: block;}
    .main-section
    {
        flex-direction: column;
        height: max-content;
    }
    .main-section .docker-1
    {
        height: 100%;
        width: 100%;
    }
    .main-section .docker-1 .D1P1
    {
        flex-direction: column;
        position: relative;
        height: max-content;
        margin-bottom: .8rem;
        
    }
    .profile_side
    {
        margin-right: .3rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }
}